<button type="button" class="gradient-button" (click)="getData()">Получить данные</button>
<button class="blue-text-button" (click)="logOut()">Выйти</button>
<table>
  <tr class="table__header">
      <td>ИНН</td>
      <td>БИК</td>
      <td>Номер счета</td>
      <td>НДС</td>
      <td>Сколько</td>
      <td>Номер телефона</td>
      <td>Почта</td>

  </tr>
  <tr *ngFor="let value of paymentRequests;">
      <td>{{value.inn}}</td>
      <td>{{value.bik}}</td>
      <td>{{value.account}}</td>
      <td>{{value.nds}}</td>
      <td>{{value.sum}}</td>
      <td>{{value.phone}}</td>
      <td>{{value.email}}</td>
  </tr>
</table>
