<app-client-info></app-client-info>
<app-main></app-main>
<footer>
  <!--or app-footer with routing for collapse-->
  <input type="checkbox" id="hider">
  <div class="preview-content">
    Испания – европейская страна, расположенная на Пиренейском полуострове.
    Территория Испании разделена на 17 автономных регионов.
  <label class="link" for="hider" id="show">Показать </label>
  </div>
  <div class="all-content">
    Испания – европейская страна, расположенная на Пиренейском полуострове. Территория Испании разделена на 17
    автономных регионов. В столице страны, Мадриде, находятся Королевский дворец и музей Прадо, где хранятся
    произведения европейских мастеров. В Сеговии можно посетить средневековый замок (Алькасар) и увидеть хорошо
    сохранившийся римский акведук. Барселона – столица автономного сообщества Каталония. Облик этого города определяют
    многочисленные причудливо-фантастические творения архитектора Антонио Гауди, среди которых храм Святого Семейства.
  </div>
  <a href="https://vk.com/share.php?url=http://localhost" target="_blank">Поделиться ВКонтакте</a>
</footer>
<button class="logout" (click)="auth.logoutUser()">Выйти</button>
