app-client-info
{
  display: flex;

  align-items: center;
  justify-content: center;

  /* border-bottom: 1px solid #808080; */
}

.all-content,
input[id='hider'],
input[id='hider']:checked ~ .preview-content,
input[id='hider']:checked ~ label[for='hider']
{
  display: none;
}

.all-content,
.preview-content
{
  max-width: 800px;
  margin: 20px;
}

input[id='hider']:checked ~ .all-content,
.preview-content
{
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

label[for='hider']
{
  display: block;
  margin: auto;
  text-decoration: none;
  color: #0099ff;
  cursor: pointer;
}

.logout
{
  position: absolute;
  top: 0;
  right: 0;

  margin: 20px;
}

@media screen and (max-width: 768px)
{
  app-client-info
  {
    padding: 2px 5px;

    flex-direction: column;
  }
}
