<nav>
  <a class="operations-link" routerLink="/public/pay" routerLinkActive="operations-link-focus">Заплатить</a>
  <a class="operations-link" routerLink="/public/request-pay" routerLinkActive="operations-link-focus">Запросить платёж</a>
</nav>

<router-outlet></router-outlet>

<section class="products">
  <h2 class="products__header">
    О компании Индивидуальный предприниматель Швецова Мария Валерьевна
  </h2>
  <div class="products__items">
    <article class="product">
      <div class="product__img-wrapper">
        <img
          class="product__img"
          src="../../../assets/images/ball.jpg"
          alt="Клубника на улице Рамбла"
          width="256"
        >
      </div>
      <div class="product__info">
        <h4>Клубника на улице Рамбла</h4>
        <p class="lightgray-text">139,99 руб.</p>
      </div>
    </article>
    <article class="product">
      <div class="product__img-wrapper">
        <img
          class="product__img"
          src="../../../assets/images/palms.jpg"
          alt="Золотой Пляж"
          width="256"
          height="171"
        >
      </div>
      <div class="product__info">
        <h4>Золотой Пляж</h4>
        <p class="lightgray-text">35,89 руб.</p>
      </div>
    </article>
    <article class="product">
      <div class="product__img-wrapper">
        <img
          class="product__img"
          src="../../../assets/images/ball.jpg"
          alt="Экскурсии"
          width="256"
        >
      </div>
      <div class="product__info">
        <h4>Экскурсии</h4>
        <p class="lightgray-text">1000р/час</p>
      </div>
    </article>
  </div>
</section>
